apiVersion: v1
kind: Service
metadata:
  name: maria-frontend
  labels:
    {{- include "guestbook.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "guestbook.frontend.selectorLabels" . | nindent 4 }}
